@model crudBiblioteca.Models.Emprestimo

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detailhes do Emnpréstimo</h1>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFinal)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livro.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leitor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
