@model IEnumerable<crudBiblioteca.Models.Emprestimo>

@{
    ViewData["Title"] = "Empréstimos";
}


<p>
    <a asp-action="Create">Cadastrar Novo Empréstimo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leitor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinal)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Livro.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leitor.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
